<a href="https://colab.research.google.com/github/leegr02/pandas/blob/main/10_%EA%B2%B0%EC%B8%A1%EC%B9%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 10. 결측치
비어 있는 데이터

In [ ]:
import pandas as pd
df=pd.read_excel('score.xlsx', index_col='지원번호')
df

## 데이터 채우기 fillna

In [ ]:
df.fillna('') #NaN 데이터를 빈 칸으로 채움

In [ ]:
df.fillna('없음') #NaN 데이터를 없음으로 채움

In [ ]:
import numpy as np
df['학교'] = np.nan #학교 데이터 전체를 NaN으로 채웅
df

In [ ]:
df.fillna('모름')

In [ ]:
df

In [ ]:
df.fillna('모름', inplace=True)
df

In [ ]:
df=pd.read_excel('score.xlsx', index_col='지원번호')
df

In [ ]:
df['SW특기'].fillna('확인 중', inplace=True) #SW특기 데이터 중에서 NaN에 대해서 채움
df

## 데이터 제외하기 dropna

In [ ]:
df=pd.read_excel('score.xlsx', index_col='지원번호')
df

In [ ]:
df.dropna(inplace=True) #전체 데이터 중에서 NaN을 포함하는 데이터 삭제
df

In [ ]:
df.dropna(axis='index',how='any')

In [ ]:
df=pd.read_excel('score.xlsx', index_col='지원번호')
df

In [ ]:
# axis: index or columns
# how: any or all

In [ ]:
df.dropna(axis='index', how='any') #NaN 가 하나라도 있는 row 삭제

In [ ]:
df.dropna(axis='columns') #NaN 이 하나라도 있는 column 삭제

In [ ]:
df['학교'] = np.nan
df

In [ ]:
df.dropna(axis='columns', how='all') #데이터 전체가 NaN인 경우에만 column 삭제