<a href="https://colab.research.google.com/github/leegr02/pandas/blob/main/12_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%88%98%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12. 데이터 수정

In [ ]:
import pandas as pd
df=pd.read_excel('score.xlsx', index_col='지원번호')
df

## Column 수정

In [ ]:
df['학교'].replace({'북산고':'상북고','능남고':'무슨고'})

In [ ]:
df['학교'].replace({'북산고':'상북고'},inplace=True)

In [ ]:
df

In [ ]:
df['SW특기'].str.lower()

In [ ]:
df['SW특기']=df['SW특기'].str.lower()
df

In [ ]:
df['SW특기']=df['SW특기'].str.upper()
df

In [ ]:
df['학교']=df['학교']+'등학교' #학교 데이터 + 등학교
df

## Column 추가

In [ ]:
df['총합'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']
df

In [ ]:
df['결과']='Fail'
df

In [ ]:
df.loc[df['총합']>400,'결과']='Pass' #총합이 400보다 큰 데이터에 대해서 결과를 Pass로 업데이트
df

## Column 삭제

In [ ]:
df.drop(columns=['총합']) #총합 Column 삭제

In [ ]:
df.drop(columns=['국어','영어','수학']) #국어, 영어, 수학 Column 삭제

## Row 삭제

In [ ]:
df.drop(index='4번') #4번 데이터 학생 row 를 삭제

In [ ]:
filt=df['수학']<80 # 수학 점수 80점 미만 학생 필터링
df[filt]

In [ ]:
df[filt].index

In [ ]:
df.drop(index=df[filt].index) ## 수학 점수 80점 미만 학생 삭제

## Row 추가

In [ ]:
df.loc['9번'] = ['이정환','해남고등학교',184, 90,90,90,90,90,'Kotlin',450, 'Pass'] # 새로운 Row 추가
df

## Cell 수정

In [ ]:
df.loc['4번','SW특기'] = 'Python' #4번 학생의 SW특기 데이터를 python으로 변경
df

In [ ]:
df.loc['5번',['학교','SW특기']] = ['능남고등학교','C'] #5번 학생의 학교는 능남고등학교로, SW특기는 C로 변경
df

## Column 순서 변경

In [ ]:
cols=list(df.columns)
cols

In [ ]:
df = df[[cols[-1]]+cols[0:-1]]  # 맨 뒤에 있는 결과 Column을 앞으로 가져오고, 나머지 column들과 합쳐서 순서변경
df

In [ ]:
df=df[['결과','이름','학교']]
df

## Column 이름 변경

In [ ]:
df.columns

In [ ]:
df.columns=['Result','Name','School']
df